.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.jumbo {
  width: 60%;
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 12px rgba(240, 56, 0, 0.275);
}

@media only screen and (max-width: 768px) {
  .container {
    min-height: 100vh;
    height: auto;
  }
  .jumbo {
    flex-direction: column;
    width: 100%;
  }
}
