.add {
  z-index: 2;
  position: fixed;
  bottom: 24px;
  left: 24px;
  background-color: #ff5921;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
}

.input {
  height: 32px;
  width: 50%;
  margin: 18px auto;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid red;
  padding: 4px 8px;
  background-color: rgba(255, 56, 0, 0.078);
  color: #f5f5f5;
}

.textarea {
  width: 50%;
  margin: 18px auto;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid red;
  padding: 4px 8px;
  background-color: rgba(255, 56, 0, 0.078);
  color: #f5f5f5;
}

@media only screen and (max-width: 768px) {
  .input,
  .textarea {
    width: 90%;
  }
}
