.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5921;
  border-radius: 16px;
}

.c1 {
  width: 50%;
  height: 100%;
  background-color: #ff5921;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 0 16px 16px 0;
  color: white;
}

.img {
  height: 40%;
  margin-bottom: 50px;
}

.c2 {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}

.h1 {
  font-size: 44px;
  text-align: center;
}

.color {
  color: #ff5921;
}

.p {
  font-weight: 350;
  font-size: 18px;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  margin-top: 80px;
  text-align: center;
  color: #232323;
}

.input {
  height: 32px;
  margin: 18px 0;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid red;
  padding: 4px 8px;
  background-color: rgba(255, 56, 0, 0.078);
  color: #232323;
}

.button {
  margin-bottom: 16px;
  margin-top: 32px;
  padding: 16px;
  color: rgba(255, 56, 0, 1);
  background-color: inherit;
  border: 2px solid rgba(255, 56, 0, 1);
  border-radius: 12px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255, 56, 0, 1);
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  .c1 {
    width: 100%;
    border-radius: 0;
  }
  .c2 {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
  .p {
    font-size: 16px;
  }
  .img {
    height: auto;
    width: 50%;
  }
}
