.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(15, 15, 15);
  text-align: center;
}

.modalmain {
  position: fixed;
  background: white;
  width: 80%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayblock {
  display: block;
}

.displaynone {
  display: none;
}

.button {
  margin-bottom: 16px;
  margin-top: 32px;
  margin-right: 16px;
  padding: 16px;
  color: rgba(255, 56, 0, 1);
  background-color: inherit;
  border: 2px solid rgba(255, 56, 0, 1);
  border-radius: 12px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255, 56, 0, 1);
  color: white;
}

@media only screen and (max-width: 768px) {
  .modalmain {
    width: 100%;
  }
}
