.main {
  position: fixed;
  padding: 24px;
  top: 117px;
  height: calc(100vh - 165px);
  width: calc(85% - 96px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.post {
  display: flex;
  justify-content: space-between;
  padding: 24px 52px;
  background-color: rgba(255, 85, 35, 0.1);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 85%;
  }
  .post {
    padding: 16px;
  }
  .post h1 {
    font-size: 24px;
  }
  .post h2 {
    font-size: 18px;
  }
  .post p {
    font-size: 12px;
  }
}
