.Sidebar {
  position: fixed;
  top: 117px;
  right: 0;
  padding: 4px 24px;
  width: 15%;
  height: calc(100% - 117px);
  background-color: #ff5921;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.Sidebar div h4 {
  cursor: pointer;
}

.input {
  height: 32px;
  width: 50%;
  margin: 18px auto;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid red;
  padding: 4px 8px;
  background-color: rgba(255, 56, 0, 0.078);
  color: #f5f5f5;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Sidebar {
    z-index: 3;
    padding: 0;
    width: 100%;
    top: 90px;
    height: calc(100% - 90px);
  }
  .toggle {
    display: inline;
    font-size: 54px;
    font-weight: bold;
    color: rgb(255, 133, 33);
    cursor: pointer;
    position: fixed;
    right: 24px;
  }
  .img {
    width: 40%;
    align-self: center;
  }
  .input,
  .textarea {
    width: 90%;
  }
}
