.main {
  position: fixed;
  padding: 24px;
  top: 98px;
  height: calc(100vh - 98px);
  width: calc(85% - 96px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  text-align: center;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 52px;
  background-color: rgba(255, 85, 35, 0.1);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 24px;
}
.post h1 {
  text-decoration: underline dashed red;
}
.info {
  display: flex;
  justify-content: space-around;
}
.content {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    padding: 0;
  }
  .post {
    padding: 16px;
  }
}
