.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 52px;
  background-color: rgba(255, 85, 35, 0.1);
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 24px;
}

.input {
  height: 32px;
  width: 50%;
  margin: 18px auto;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid red;
  padding: 4px 8px;
  background-color: rgba(255, 56, 0, 0.078);
  color: #f5f5f5;
}

.textarea {
  width: 50%;
  margin: 18px auto;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid red;
  padding: 4px 8px;
  background-color: rgba(255, 56, 0, 0.078);
  color: #f5f5f5;
}

.handlers {
  display: flex;
  justify-content: space-around;
}
.handlers span {
  background-color: rgb(233, 89, 22);
  padding: 8px 16px;
  width: 80px;
  margin: 0 16px;
  text-align: center;
  font-size: large;
  font-weight: medium;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .input,
  .textarea {
    width: 90%;
  }
}
